/*
 * Skin: Awan Tengah
 * ----------
 */
.skin-awantengah .main-header .navbar {
  min-height: 50px;
  background-color: #38ada9;
}
.skin-awantengah .main-header .navbar .nav > li > a {
  color: #fff;
}
.skin-awantengah .main-header .navbar .nav > li > a:hover,
.skin-awantengah .main-header .navbar .nav > li > a:active,
.skin-awantengah .main-header .navbar .nav > li > a:focus,
.skin-awantengah .main-header .navbar .nav .open > a,
.skin-awantengah .main-header .navbar .nav .open > a:hover,
.skin-awantengah .main-header .navbar .nav .open > a:focus,
.skin-awantengah .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-awantengah .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-awantengah .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-awantengah .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-awantengah .main-header .navbar .sidebar-toggle:hover {
  background-color: #06817b;
}
@media (max-width: 767px) {
  .skin-awantengah .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-awantengah .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-awantengah .main-header .navbar .dropdown-menu li a:hover {
    background: #06817b;
  }
}
.skin-awantengah .main-header .logo {
  background: #079992;
  color: #fff;
  height: 50px;
  line-height: 50px;
}
.skin-awantengah .main-header li.user-header {
  background-color: #079992;
}
.skin-awantengah .content-wrapper,
.skin-awantengah .right-side {
  background: #ecf0f5;
}
.skin-awantengah .wrapper,
.skin-awantengah .main-sidebar,
.skin-awantengah .left-side {
  background: #222d32 !important;
}
.skin-awantengah .main-sidebar .sidebar li a {
  color: #fff !important;
}
.skin-awantengah .main-sidebar .sidebar .sidebar-menu > li.header,
.skin-awantengah .main-sidebar .sidebar .sidebar-menu > li:hover > a,
.skin-awantengah .main-sidebar .sidebar .sidebar-menu > li.active > a {
  background: #1e272e;
  border-left-color: #079992;
  color: #fff;
}
.skin-awantengah .main-sidebar .sidebar .sidebar-menu .header {
  background: #2a383e !important;
}
.skin-awantengah .content-header {
  background: #fff !important;
  padding: 15px;
}
.skin-awantengah .wrapper,
.skin-awantengah .main-sidebar,
.skin-awantengah .left-side {
  background-color: #222d32;
}
.skin-awantengah .user-panel > .info,
.skin-awantengah .user-panel > .info > a {
  color: #fff;
}
.skin-awantengah .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-awantengah .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-awantengah .sidebar-menu > li:hover > a,
.skin-awantengah .sidebar-menu > li.active > a {
  color: #fff;
  background: #1e282c;
  border-left-color: #079992;
}
.skin-awantengah .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-awantengah .sidebar a {
  color: #b8c7ce;
}
.skin-awantengah .sidebar a:hover {
  text-decoration: none;
}
.skin-awantengah .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-awantengah .treeview-menu > li.active > a,
.skin-awantengah .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-awantengah .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-awantengah .sidebar-form input[type="text"],
.skin-awantengah .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-awantengah .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-awantengah .sidebar-form input[type="text"]:focus,
.skin-awantengah .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-awantengah .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-awantengah .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-awantengah.layout-top-nav .main-header > .logo {
  background-color: #079992;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-awantengah.layout-top-nav .main-header > .logo:hover {
  background-color: #07948d;
}
.box {
  border-top-color: #079992;
}
.box .box-header > .box-tools {
  top: 1.2em;
}
.info-box {
  border-radius: 5px;
}
.box.box-primary {
  border-top-color: #079992;
}
.btn-primary {
  background: #079992;
  border: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background: #38ada9;
}
.login-page {
  background: #00bcd4;
}
.content-wrapper {
  min-height: 599px;
}
.pagination > li > a,
.pagination > li > span {
  padding: 4px 10px !important;
}
@media screen and (min-width: 768px) {
  .box-body {
    overflow: visible;
  }
}
@media screen and (max-width: 767px) {
  .table-responsive {
    overflow-y: auto;
  }
}
